[workflows]
runButton = "Development"

[[workflows.workflow]]
name = "Development"
author = 43640197
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
