run = "npm run dev"
modules = ["nodejs-20", "web"]

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm run build"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 5000
externalPort = 80
