[nix]
channel = "stable-24_05"

[workflows]
runButton = "Development Server"

[[workflows.workflow]]
name = "Development Server"
author = 43640197
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run preview"]
build = ["sh", "-c", "npm run build"]
